<!-- wishlist empty -->
<div class="container" *ngIf="allwishlistItem.length == 0">
    <div class="row">
        <div class="col text-center">
            <img src="https://i.pinimg.com/originals/82/e6/4f/82e64ffa12370f75a4d4a05c3870a894.gif" alt="">
            <button class="btn btn-dark"><i class="fa-sharp fa-solid fa-cart fa-fade text-light"></i>Explore Now</button>
        </div>
    </div>
</div>
<!-- wishlist with content -->
<!-- Section-->
<section class="py-5" *ngIf="allwishlistItem.length !== 0">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let wish of allwishlistItem">
                <div class="card h-100" >
                    <!-- Product image-->
                    <img class="card-img-top" [src]="wish.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{wish.title}}</h5>
                            <!-- Product price-->
                            ${{wish.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="d-flex justify-content-evenly mb-3">
                        <button (click)="deleteWishlist(wish.id)" class="btn me-3"><i class="fa-solid fa-heart-circle-xmark text-danger"></i></button>
                        <button (click)="addToCart(wish)" class="btn "><i class="fa-solid fa-cart-plus text-success"></i></button>    
                    </div>
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Product</a></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

